.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  box-sizing: border-box;
  min-height: 317px;
  max-width: 1270px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding-left: 230px;
  padding-right: 52px;

  background-image: url("../img/2005-l@1x.jpg");
  background-size: 220px auto;
  background-position: 20px 5px;
  background-repeat: no-repeat;
}

.about h2 {
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 400;
  text-transform: none;
}

.about p {
  width: 100%;
  margin-top: 0;
  margin-bottom: 20px;
}

.about .button {
  margin-top: auto;
  margin-bottom: 10px;
  padding-left: 49px;
  padding-right: 49px;

  color: $brand-color;
  border-color: $brand-color;
}

@media (max-width: $m-width-max) {
  .about {
    min-height: 362px;
    max-width: 1023px;
    margin-bottom: 73px;
    padding-left: 213px;
    padding-right: $m-padding;

    background-image: url("../img/2005@1x.jpg");
    background-size: 244px auto;
    background-position: 0px -3px;
    background-repeat: no-repeat;
  }

  .about h2 {
    margin-bottom: 25px;

    font-size: 32px;
    line-height: 45px;
  }

  .about span {
    display: none;
  }
}

@media (max-width: $s-width-max) {
  .about {
    display: block;
    min-height: auto;
    max-width: 767px;
    margin-bottom: 55px;
    padding-left: $s-padding;
    padding-right: $s-padding;

    background: none;
  }

  .about h2 {
    margin-bottom: 21px;

    font-size: 28px;
    line-height: 39px;
  }

  .about p:not(:last-of-type) {
    margin-bottom: 42px;
  }

  .about .button {
    margin-top: 11px;
  }
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .about {
    background-image: url("../img/2005-l@2x.jpg");
    @media (max-width: $m-width-max) {
      background-image: url("../img/2005@2x.jpg");
    }
    @media (max-width: $s-width-max) {
      background: none;
    }
  }
}
