.advantages {
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 75px;
  padding-left: $l-padding;
  padding-right: $l-padding;
  padding-top: 112px;
}

.advantages__list {
  @include reset-list-style;

  display: flex;
  flex-wrap: wrap;

  @media (min-width: $m-width) {
    margin-right: -30px;
  }
}

.advantages__item {
  flex-basis: 34%;
  flex-grow: 1;
  flex-shrink: 1;

  margin-left: 3px;
  padding: 39px 42px;

  background-color: $light-color;
  border: 1px solid $border-color;
  border-left: none;
  box-shadow: -3px 0px 0px 0px $brand-color;
  cursor: pointer;

  @media (min-width: $m-width) {
    min-height: 219px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

.advantages__item h3 {
  margin-top: 14px;
  margin-bottom: 10px;
  font-weight: 400;
  color: $brand-color;
  text-transform: none;
}

.advantages__item svg {
  fill: $brand-color;
}

.advantages__item:focus,
.advantages__item:hover {
  border-color: $brand-color;
  background-color: $brand-color;

  & h3 {
    color: $light-color;
  }

  & p {
    color: $light-color;
  }

  & svg {
    fill: $light-color
  }
}

@media (max-width: $m-width-max) {
  .advantages {
    max-width: 973px;
    margin-bottom: 27px;
    padding-left: $m-padding;
    padding-right: $m-padding;
    padding-top: 54px;
    // padding-bottom: 25px;
  }

  .advantages__item {
    min-height: 200px;
    margin-left: 2px;
    padding: 23px 23px 6px 23px;

    box-shadow: -2px 0px 0px 0px $brand-color;
  }

  .advantages__item {
    &--suppliers svg {
      width: 32px;
      height: 33px;
    }

    &--privacy svg {
      width: 31px;
      height: 33px; // Для PP. 26 реальный размер
    }

    &--price svg {
      width: 33px;
      height: 33px;
    }
  }

  .advantages__item h3 {
    margin-top: 2px;
  }

  .advantages p {
    margin-top: 10px;
  }
}

@media (max-width: $s-width-max) {
  .advantages {
    max-width: 737px;
    margin-bottom: 23px;
    padding-left: $s-padding;
    padding-right: $s-padding;
    padding-top: 37px;
    padding-bottom: 14px;
  }

  .advantages__list {
    flex-direction: column;
  }

  .advantages__item {
    margin-right: 0;
    margin-bottom: 20px;
    padding: 24px 20px 10px 25px;
  }

  .advantages__item h3 {
    margin-top: 5px;

    font-size: 20px;
    line-height: 28px;
  }
}
