.main__container {
  background-image: url("../img/l-main@1x.png");
  background-size: 2243px auto;
  background-repeat: no-repeat;
  background-position: -296px -29px;
}

@media (max-width: $m-width-max) {
  .main__container {
    background-image: url("../img/m-main@1x.png");
    background-size: 882px auto;
    background-position: 208px 83px;
  }
}

@media (max-width: $s-width-max) {
  .main__container {
    background-size: 874px auto;
    background-position: -121px 651px;
  }
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  @media (max-width: $l-width) {
    .main__container {
      background-image: url("../img/l-main@2x.png");
      background-size: 2243px;
    }
  }

  @media (max-width: $m-width-max) {
    .main__container {
      background-image: url("../img/m-main@2x.png");
      background-size: 873px;
      background-position: 210px 90px;
    }
  }

  @media (max-width: $m-width-max) {
    .main__container {
      background-size: 873px;
      background-position: -121px 651px;
    }
  }
}
