.main__container-light {
  background-image: url("../img/l-main@1x.png");
  background-size: 2243px auto;
  background-repeat: no-repeat;
  background-position: -296px -29px;
}

@media (max-width: $m-width-max) {
  .main__container-light {
    background-image: url("../img/m-main@1x.png");
    background-size: 882px auto;
    background-position: 208px 83px;
  }
}

@media (max-width: $s-width-max) {
  .main__container-light {
    background-size: 874px auto;
    background-position: -121px 651px;
  }
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  @media (max-width: $l-width) {
    .main__container-light {
      background-image: url("../img/l-main@2x.png");
      background-size: 2243px;
    }
  }

  @media (max-width: $m-width-max) {
    .main__container-light {
      background-image: url("../img/m-main@2x.png");
      background-size: 873px;
      background-position: 210px 90px;
    }
  }

  @media (max-width: $m-width-max) {
    .main__container-light {
      background-size: 873px;
      background-position: -121px 651px;
    }
  }
}

.main__container-products {
  background-color: $dark-color;
}

.main__container-consultation {
  color: $light-color;
  background-color: $brand-color;



  @media (min-width: $l-width) {
    background-image: url("../img/form-backg-l@1x.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // background-position: 25px 161px;
  }

}

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .main__container-consultation {
      @media (min-width: $l-width) {
        background-image: url("../img/form-backg-l@2x.png");
    }
  }
}

