.social h2 {
  @include visually-hidden;
}

.social__list {
  @include reset-list-style;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.social__item {
  display: inline-block;
  line-height: 0;

  &:not(:last-child) {
    margin-right: 16px;
  }
}

.social__link {
  display: inline-block;
  width: 27px;
  height: 27px;

  &:hover svg,
  &:focus svg {
    fill: $brand-color;
  }
}
.social__link svg {
  fill: $icon-background-color;
}
